<p id="notice"><%= notice %></p>

<h1>Looser Score Board</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.score %></td>
        <td><%= player.name %></td>
        <td><%= link_to '+', player_incress_path(player), method: :post %></td>
        <td><%= link_to '-', player_decrease_path(player), method: :post %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
